---
const {title, BcPlayer,imgSrc, releaseDate, BcLink, BcTitle} = Astro.props;
---
<section class="bg-purple-900 rounded-xl p-2">
    <img src={imgSrc} alt="" class="h-auto max-w-72 sm:max-w-96 rounded-lg mx-auto" loading="lazy">
    <h3 class="text-white py-2 px-2">
        {title}
    </h3>
    <p class="text-white px-3 pb-4">
        Release Date: {releaseDate}
    </p>
    <iframe style="border: 0; width: 100%; height: 120px;" src={BcPlayer} seamless><a href={BcLink}>{BcTitle}</a></iframe>
</section>